<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Đặt vé xem phim</title>
  <link rel="stylesheet" href="css/client.css">
</head>
<body>
  <header>
    <a href="/hello" class="logo flex items-center">
      <img src="https://homepage.momocdn.net/fileuploads/svg/momo-file-221117104714.svg" alt="Momo Logo" class="logo-img h-10">
      <div class="logo-text ml-2">
        <span>Đặt vé <br>xem phim</span>
      </div>
    </a>
    <nav>
      <ul class="nav-links">
        <li><a href="/cinema/lich-chieu?fromType=nav_menu">Lịch chiếu</a></li>
        <li><a href="/cinema/rap?fromType=nav_menu">Rạp chiếu</a></li>
        <li><a href="/cinema/phim-chieu?fromType=nav_menu">Phim chiếu</a></li>
        <li><a href="/cinema/review?fromType=nav_menu">Review phim</a></li>
        <li><a href="/cinema/top-phim?fromType=nav_menu">Top phim</a></li>
        <li><a href="/cinema/blog?fromType=nav_menu">Blog phim</a></li>
        <li><a href="/search"><svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" class="search-icon"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z"></path></svg></a></li>
      </ul>
    </nav>
  </header>
  <main>
    <section id="block-241" data-index="0" data-type="3" class="py-8 md:py-10 lg:py-14 landing:bg-transparent bg-pink-50" style="--grad-rgb-color:253 242 248">
      <div class="mx-auto w-full max-w-6xl px-5 md:px-8 lg:px-8">
        <div data-root-margin="10" class="landing-fadeUp-child grid grid-cols-1 items-center gap-6 sm:grid-cols-2">
          <div class="order-2 sm:order-1 sm:col-start-1">
            <div class="text-left">
              <h1 class="service-page-title mb-2 text-2xl font-bold text-pink-600 landing:text-lpTitle md:mb-6 md:text-3xl lg:text-4xl">Đặt mua vé xem phim MoMo</h1>
              <div class="service-page-description">
                <div class="mt-4 grid grid-cols-1 gap-y-3">
                  <div class="flex-container">
                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" class="block shrink-0">
                      <circle opacity="0.1" cx="12" cy="12" r="12" fill="#A50064" class="fill-cus"></circle>
                      <path d="M17.3332 8L9.99984 15.3333L6.6665 12" stroke="#A50064" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
                    </svg>
                    <div class="note pl-2 text-md text-gray-600 landing:text-lpText">
                      Mua vé Online, <strong>trải nghiệm phim hay</strong>
                    </div>
                  </div>
                  <div class="flex-container">
                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" class="block shrink-0">
                      <circle opacity="0.1" cx="12" cy="12" r="12" fill="#A50064" class="fill-cus"></circle>
                      <path d="M17.3332 8L9.99984 15.3333L6.6665 12" stroke="#A50064" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
                    </svg>
                    <div class="note pl-2 text-md text-gray-600 landing:text-lpText">
                      <strong>Đặt vé an toàn</strong> trên 
                    </div>
                  </div>
                  <div class="flex-container">
                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" class="block shrink-0">
                      <circle opacity="0.1" cx="12" cy="12" r="12" fill="#A50064" class="fill-cus"></circle>
                      <path d="M17.3332 8L9.99984 15.3333L6.6665 12" stroke="#A50064" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
                    </svg>
                    <div class="note pl-2 text-md text-gray-600 landing:text-lpText">
                      Tha hồ <strong>chọn chỗ ngồi, mua bắp nước</strong> tiện lợi
                    </div>
                  </div>
                  <div class="flex-container">
                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" class="block shrink-0">
                      <circle opacity="0.1" cx="12" cy="12" r="12" fill="#A50064" class="fill-cus"></circle>
                      <path d="M17.3332 8L9.99984 15.3333L6.6665 12" stroke="#A50064" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
                    </svg>
                    <div class="note pl-2 text-md text-gray-600 landing:text-lpText">
                      <strong>Lịch sử đặt vé</strong> được lưu lại ngay
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="mt-7">
              <div class="flex space-x-3 md:space-x-4 md:inline-block"></div>
            </div>
          </div>
          <div class="order-1 sm:order-2 sm:col-start-2">
            <div class="overflow-hidden rounded-md">
                {{!-- <a target="" class="relative block aspect-[75/42] w-full overflow-hidden" href="/hello/{{this.slug}}"> --}}
                <span style="box-sizing:border-box;display:block;overflow:hidden;width:initial;height:initial;background:none;opacity:1;border:0;margin:0;padding:0;position:absolute;top:0;left:0;bottom:0;right:0">
                </span>
              </a>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="scroll-margin-top bg-black bg-contain bg-bottom bg-no-repeat py-8 md:py-10 lg:py-14 " style="background-image:url(https://homepage.momocdn.net/img/momo-upload-api-210701105436-637607336767432408.jpg)" id="phimdangchieu">
        <div class="mb-5 text-center md:mb-8">
            <div class="inline-block relative">
                <strong class="relative z-2 font-bold">
                    <h2 class="text-2xl font-bold landing:text-lpTitle lg:text-3xl text-white">Phim đang chiếu</h2>
                </strong>
            </div>
        </div>
        <div class="mt-4">
            <div class="row">

                {{#each courses}}
                    <div class="col-sm-6 col-lg-4">
                        <div class="card-img-top">
                          <a href="/movie/{{this._id}}">
                            <img src="{{this.image}}" class="card-img-top" alt="Card image cap">
                          </a>
                            <div class="card-body">
                                <a href="/movie/{{this._id}}">
                                <h5 class="card-title">{{this.name}}</h5>
                                </a>
                                <p class="card-text">{{this.category}}</p>
                            </div>
                        </div>
                    </div>
                {{/each}}

            </div>
        </div>
    </section>
  </main>
</body>
</html>