<!DOCTYPE html>
<html>
<head>
  <title>{{movie.name}}</title>
  <link rel="stylesheet" href="css/mo.css">
</head>
<body>
  <div class="movie-detail">
    <img src="{{movie.image}}" alt="{{movie.name}}">
    <h1>{{movie.name}}</h1>
    <p>Noi dung: {{movie.content}}</p>
    <a href="{{movie.trailer}}">Xem trailer</a>
    <a href="/local">Dat ve</a>
  </div>
</body>
</html>